<app-sidebar></app-sidebar>
<ng-container  *ngIf="rol!=undefined && rol=='admin'"> 
  <div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-12 col-xl-10">

            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Módulo
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                        Votaciones
                    </h1>

                  </div>
                </div> <!-- / .row -->
      
              </div>
            </div>

            <!-- Alert -->


            <!-- Card -->
            <div class="card">
              <div class="card-header">

                <!-- Title -->
                <h4 class="card-header-title">
                  Mostrando todos tus votaciones {{votaciones.length}} 
                </h4>
                
                
              </div>
              <div class="card-body">
                    <div class="row justify-content-between mb-4">
                        <div class="col">
                            <div class="input-group input-group-merge">
                                <input type="text" class="form-control form-control-appended" placeholder="Buscar venta por código" name="filtro" [(ngModel)]="filtro">
                                <div class="input-group-append">
                                  <button class="btn btn-primary" (click)="filtrar_votaciones()">
                                      Buscar
                                  </button>
                                </div>
                              </div>
                        </div>
                        <div class="col" *ngIf="rol=='encuestador'||aux=='samuel.arevalo@espoch.edu.ec'">
                            <a class="btn btn-primary btn-block" [routerLink]="['/votaciones/create']" routerLinkActive="router-link-active"  style="cursor: pointer;">
                                Nueva venta
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <input type="date" class="form-control" name="desde" [(ngModel)]="desde">
                        </div>
                        <div class="col-3">
                            <input type="date" class="form-control" name="hasta" [(ngModel)]="hasta">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary btn-block" (click)="filtrar_fechas()">
                                Buscar
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-danger btn-block" (click)="reset_data()">
                                Reset
                            </button>
                        </div>
                        <!-- <div class="col" *ngIf="rol=='direc'||aux=='samuel.arevalo@espoch.edu.ec'">
                          <button  class="btn btn-danger active" data-toggle="modal" [attr.data-target]="'#delete-todo'" >
                            Eliminar
                        </button>
                        </div>-->
                        
                        
                    </div>
              </div>
              <div class="table-responsive">
                <table class="table table-sm table-nowrap card-table">
                  <thead>
                    <tr>
                      <!--<th *ngIf="rol=='direc' || aux=='samuel.arevalo@espoch.edu.ec'">
                        <input type="checkbox" value="1" placeholder="total" [(ngModel)]="total" (click)="select_todo()"></th> -->
                      
                      
                      <th>Encuestador</th>
                      
                      <th>Provincia Canton <br> Parroquia Zona <br> Recinto</th>
                      <th>Dignidad</th>
                      <th>Comprobante</th>
                    </tr>
                  </thead>
                  <tbody class="font-size-base" *ngIf="!load">
                    <tr *ngFor="let item of votaciones | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <!--<td *ngIf="rol=='direc' || aux=='samuel.arevalo@espoch.edu.ec'">
                        <input  type="checkbox" value="1" placeholder="item.ckechk" [(ngModel)]="item.ckechk" >
                      </td> -->
                      
                      <td>
                        <a class="text-primary"  style="cursor: pointer;" >{{item.element.admin.nombres}} {{item.element.admin.apellidos}}</a><br>
                       
                        <small class="text-muted"   style="cursor: pointer;"> {{item.element.createdAt|date: 'short'}} </small>
                      </td>
                      <td>
                        <a class="text-primary"  style="cursor: pointer;" >{{item.element.codigo_provincia.nombre_provincia}}-{{item.element.codigo_canton.nombre_canton}}</a><br>
                       
                        <span >{{item.element.codigo_parroquia.nombre_parroquia}}-{{item.element.codigo_zona.nombre_zona}}</span>
                        <br>
                        {{item.element.codigo_recinto.nombre_recinto}}
                        <br>
                        <span class="badge badge-success" >Junta: </span>{{item.element.junta}} {{item.element.tipo_junta}}
                      </td>
                      <td>
                        {{item.element.codigo_dignidad.nombre_dignidad}}
                        <br>
                        <span class="badge badge-primary" *ngIf="item.element.codigo_dignidad.seleccion == 'PrefecturaViceprefectura'">Prefecto y Viceprefecto</span>
                        <span class="badge badge-secondary" *ngIf="item.element.codigo_dignidad.seleccion == 'AlcaldesM'">Alcaldes Municipales</span>
                        <span class="badge badge-success" *ngIf="item.element.codigo_dignidad.seleccion == 'ConcejalesU'">Concejales Urbanos</span>
                        <span class="badge badge-danger" *ngIf="item.element.codigo_dignidad.seleccion == 'ConcejalesR'">Consejales Rurales</span>                        
                        <span class="badge badge-warning" *ngIf="item.element.codigo_dignidad.seleccion == 'VocalesJP'">Vocales de Juntas Parroquiales</span>
                        <span class="badge badge-info" *ngIf="item.element.codigo_dignidad.seleccion == 'ConsejoPCCS'">Consejo de Participación Ciudadana y Control Social</span>
                      </td>
                      <td>
                        
                        <div class="avatar mr-3">
                          <a href="{{url +'obtener_portada/'+item.element.portada}}" target="_blank" rel="noopener noreferrer"><img class="avatar-img rounded me-3 mr-3" [src]="url +'obtener_portada/'+item.element.portada" target="_blank" rel="noopener noreferrer"  alt=""></a>
                        </div>
                      </td>
                      <!--<td>
                        <div class="dropdown">

                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonAlias" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Opciones
                            </button>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
                              <li>
                                <a class="dropdown-item" [routerLink]="['/votaciones/',item.element._id]">Detalles</a>
                              </li>
                              <li *ngIf="rol=='direc' || aux=='samuel.arevalo@espoch.edu.ec'">
                                  <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+item.element._id">Eliminar</a>
                              </li>
                              
                            </ul>
                            
                        </div>

                        <div class="modal fade" id="delete-{{item.element._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Eliminar el pago de {{item.element}} {{item.element}}</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              </div>
                              <div class="modal-body">
                                <p>Desea eliminar este pago?  {{item.element._id}} </p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar(item.element._id)" type="button">Si, eliminar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      
                      </td>-->
                      
                    </tr>
                   
                  </tbody>
                  <tbody *ngIf="load">
                    <tr>
                        <td colspan="5" class="text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </td>
                    </tr>
                  </tbody>  
                </table>
                
              </div>

            </div>
                <ngb-pagination *ngIf="votaciones.length >= 1"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [maxSize]="10"
                        [rotate]="true" [boundaryLinks]="true"
                [collectionSize]="votaciones.length"></ngb-pagination>
  
            <br>

          </div>
          <div class="modal fade" id="delete-todo" tabindex="-1" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Eliminación masiva</h4>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                  <p>Desea eliminar estos votaciones? </p>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                  <button class="btn btn-primary btn-shadow btn-sm" (click)="eliminar_todo()" type="button">Si, eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- / .row -->
      </div>
</div>

</ng-container>

<ng-container  *ngIf="rol!=undefined && rol!='admin'">
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5">
          
          <div class="text-center">
          
            <!-- Preheading -->
            <h6 class="text-uppercase text-muted mb-4">
              404 error
            </h6>

            <!-- Heading -->
            <h1 class="display-4 mb-3">
              Está página no se cuentra habilitada 😭
            </h1>

            <!-- Subheading -->
            <p class="text-muted mb-4">
              ¿Parece que llegaste aquí por accidente?
            </p>

            <!-- Button -->
            <a [routerLink]="['/votaciones/create']"  class="btn btn-lg btn-primary">
              Regresar a votaciones
            </a>
          
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>